<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/merchant.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <title layout:fragment="title">Merchant Page</title>
  <div layout:fragment="header"></div>
</head>
<body>
<div class="header-area">
  <img src="/image/header-s.png" class="header-image">
  <img src="/image/logo.png" class="logo">
  <div class="header-name medium-top" layout:fragment="header-name" th:text="${merchant.getMerchantName()}"></div>
</div>
<div class="main-content" layout:fragment="content">
</div>
<div class="bottom-navbar">
  <a class="navbar-item" href="/merchant/">
    <div class="navbar-item-icon"><i class="fas fa-home"></i></div>
    <div class="navbar-item-text">Home</div>
  </a>
  <a class="navbar-item" href="/merchant/list-voucher">
    <div class="navbar-item-icon"><i class="fas fa-list"></i></div>
    <div class="navbar-item-text">Voucher List</div>
  </a>
  <a class="navbar-item navbar-item-main" href="/merchant/give-points">
    <div class="navbar-item-icon"><i class="fas fa-hand-holding-heart"></i></div>
    <div class="navbar-item-text">Give Points</div>
  </a>
  <a class="navbar-item" >
<!--    <div class="navbar-item-icon"><i class="fas fa-ticket-alt"></i></div>-->
<!--    <div class="navbar-item-text">Redeem</div>-->
  </a>
  <a href="/merchant/profile" class="navbar-item">
    <div class="navbar-item-icon"><i class="fas fa-user"></i></div>
    <div class="navbar-item-text">Profile</div>
  </a>
</div>
</body>
</html>