<!DOCTYPE html>
<html lang="en" layout:decorate="layout/user-large-top" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title layout:fragment="title">User Page</title>
</head>
<body>
<span class="header-name" layout:fragment="header-name" th:text="${user.getFirstName()}">Budi</span>
<div class="header-stats" layout:fragment="header-stats">
    <div class="header-stats-item">
        <div class="header-stats-item-icon"><i class="fas fa-ticket-alt"></i></div>
        <div class="header-stats-item-data">
            <div class="header-stats-item-title">My Voucher</div>
            <div class="header-stats-item-text" th:text="${#lists.size(userVouchers)}">0</div>
        </div>
    </div>
    <div class="header-stats-item">
        <div class="header-stats-item-icon"><i class="fas fa-store"></i></div>
        <div class="header-stats-item-data">
            <div class="header-stats-item-title">Total Store</div>
            <div class="header-stats-item-text" th:text="${#lists.size(userPoints)}">0</div>
        </div>
    </div>
</div>
<div class="main-content" layout:fragment="content">
    <div class="content-title">
        <span>My Points</span>
        <div class="content-title-underline"></div>
    </div>
    <div class="mypoints-list-container">
        <div class="mypoints-item" th:each="point : ${userPoints}">
            <div class="mypoints-item-left">
                <div class="mypoints-item-logo-outer">
                    <img th:src="${point.getMerchant().profilePicture}" class="mypoints-item-logo">
                </div>
                <div class="mypoints-item-content">
                    <div class="mypoints-item-title" th:text="${point.getMerchant().getMerchantName()}"></div>
                </div>
            </div>
            <div class="mypoints-item-right">
                <div class="mypoints-item-big-point" th:text="${point.getPoint()}"></div>
                <div class="mypoints-item-big-point-text">Points Collected</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>