<!DOCTYPE html>
<html lang="en" layout:decorate="layout/user-small-top" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title layout:fragment="title">Merchant Vouchers</title>
</head>
<body>
<div class="main-content" style="align-items: stretch !important;" layout:fragment="content">
    <div class="content-title">
        <span>Redeem Catalog</span>
        <div class="content-title-underline"></div>
    </div><br>
    <div class="mypoints-item">
        <div class="mypoints-item-left">
            <div class="mypoints-item-logo-outer">
                <img th:src="@{${merchant.getProfilePicture()}}" class="mypoints-item-logo">
            </div>
            <div class="mypoints-item-content">
                <div class="mypoints-item-title" th:text="${merchant.getMerchantName()}"></div>
            </div>
        </div>
        <div class="mypoints-item-right">
            <div class="mypoints-item-big-point" th:text="${points.getPoint()}"></div>
            <div class="mypoints-item-big-point-text">My Points</div>
        </div>
    </div><br>
    <div class="catalog-item-row-3 catalog-item-padding">
        <div th:each="voucher: ${vouchers}">
            <a th:href="@{'/user/catalog/' + ${merchant.getMerchantName()} + '/' + ${voucher.getId()}}" class="catalog-a">
                <img th:src="@{${voucher.getImgURL()}}" class="catalog-item-logo">
                <div class="catalog-item-subtitle" th:text="${voucher.getVoucherName()}"></div>
                <div class="mypoints-item-subtitle" th:text="${voucher.getPointRequired()} + ' Points'"></div>
            </a>
        </div>
    </div>
</div>
</body>
</html>