<!DOCTYPE html>
<html lang="en" layout:decorate="layout/user-small-top" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title layout:fragment="title">My Voucher Details</title>
</head>
<body>
<div class="main-content" style="align-items: stretch !important;" layout:fragment="content">
    <div class="content-title">
        <span>My Voucher</span>
        <div class="content-title-underline"></div>
    </div><br>
    <div class="catalog-item-title" th:text="${myVoucher.getVoucherName()}"></div>
    <div class="header-stats-item-title" th:text="'Expiration Date: ' + ${myVoucher.getExpiredDate()}"></div><br>
    <img th:src="@{${myVoucher.getImgURL()}}" class="catalog-item-logo-big"><br>
    <div class="mypoints-item-title">Description:</div><br>
    <div class="header-stats-item-title" th:text="${myVoucher.getDescription()}"></div>
    <div class="catalog-item-padding catalog-center"></div>
</div>
</body>
</html>