<!DOCTYPE html>
<html lang="en" layout:decorate="layout/user-small-top" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title layout:fragment="title">My Voucher</title>
</head>
<body>
<div class="main-content" style="align-items: stretch !important;" layout:fragment="content">
    <div class="content-title">
        <span>My Voucher</span>
        <div class="content-title-underline"></div>
    </div><br>
    <div th:each="myVoucher: ${myVouchers}" class="catalog-item-padding">
        <p style="margin-left: 10px;">
            <img th:src="@{${myVoucher.key.getProfilePicture()}}" class="catalog-item-logo-small" style="vertical-align:middle">
            <span class="mypoints-item-title" style="margin-left: 10px; font-weight: bold" th:text="${myVoucher.key.getMerchantName()}"></span>
        </p>
        <div class="mypoints-list-container" th:each="voucher: ${myVoucher.value}">
            <a th:href="@{'/user/my-voucher/' + ${voucher.getId()}}" class="mypoints-item catalog-a">
                <div class="mypoints-item-left">
                    <div class="mypoints-item-logo-outer">
                        <img th:src="@{${voucher.getMerchantVoucher().getImgURL()}}" class="mypoints-item-logo">
                    </div>
                    <div class="mypoints-item-content">
                        <div class="mypoints-item-title" th:text="${voucher.getMerchantVoucher().getVoucherName()}"></div><br>
                        <div class="header-stats-item-title" th:text="'Expiration Date: ' + ${voucher.getMerchantVoucher().getExpiredDate()}"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>