<!DOCTYPE html>
<html lang="en" layout:decorate="layout/user-small-top" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title layout:fragment="title">Redeem Catalog</title>
</head>
<body>
<div class="main-content" layout:fragment="content">
    <div class="content-title">
        <span>Redeem Catalog</span>
        <div class="content-title-underline"></div>
    </div><br>
    <div class="mypoints-list-container catalog-item-padding" th:each="merchantVoucher: ${merchantVouchers}">
        <div class="catalog-item catalog-item-column">
            <div class="catalog-item-row">
                <div class="mypoints-item-left">
                    <div class="mypoints-item-logo-outer">
                        <img th:src="@{${merchantVoucher.key.getMerchant().getProfilePicture()}}" class="mypoints-item-logo">
                    </div>
                    <div class="mypoints-item-content">
                        <div class="mypoints-item-title" th:text="${merchantVoucher.key.getMerchant().getMerchantName()}"></div>
                    </div>
                </div>
                <div class="mypoints-item-right">
                    <div class="mypoints-item-big-point" th:text="${merchantVoucher.key.getPoint()}"></div>
                    <div class="mypoints-item-big-point-text">My Points</div>
                </div>
            </div>
            <br>
            <div th:if="${merchantVoucher.value.empty}" class="mypoints-item-subtitle" style="text-align: center">There is no voucher yet</div>
            <div th:if="not ${merchantVoucher.value.empty}">
            <div class="catalog-item-row">
                <div th:each="voucher, iterStat: ${merchantVoucher.value}" th:if="${iterStat.index} < 3" style="width: 100px">
                    <a th:href="@{'/user/catalog/' + ${merchantVoucher.key.getMerchant().getMerchantName()} + '/' + ${voucher.getId()}}" class="catalog-a">
                        <img th:src="@{${voucher.getImgURL()}}" class="catalog-item-logo">
                        <div class="catalog-item-subtitle" th:text="${voucher.getVoucherName()}"></div>
                        <div class="mypoints-item-subtitle" th:text="${voucher.getPointRequired()} + ' Points'"></div>
                    </a>
                </div>
            </div><br>
            <div class="catalog-item-subtitle-green"><a th:href="@{'/user/catalog/' + ${merchantVoucher.key.getMerchant().getMerchantName()}}" class="catalog-a">See Other Catalog</a></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>