<!DOCTYPE html>
<html lang="en" layout:decorate="layout/user-small-top" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title layout:fragment="title">Voucher Details</title>
</head>
<body>
<div class="main-content" style="align-items: stretch !important;" layout:fragment="content">
    <div class="content-title">
        <span>Redeem Catalog</span>
        <div class="content-title-underline"></div>
    </div><br>
    <div class="mypoints-item">
        <div class="mypoints-item-left">
            <div class="mypoints-item-logo-outer">
                <img th:src="@{${merchant.getProfilePicture()}}" class="mypoints-item-logo">
            </div>
            <div class="mypoints-item-content">
                <div class="mypoints-item-title" th:text="${merchant.getMerchantName()}"></div>
            </div>
        </div>
        <div class="mypoints-item-right">
            <div class="mypoints-item-big-point" th:text="${points.getPoint()}"></div>
            <div class="mypoints-item-big-point-text">My Points</div>
        </div>
    </div><br>
    <div class="catalog-item-title" th:text="${voucher.getVoucherName()}"></div>
    <div class="header-stats-item-title" style="color: #4D9D8D;" th:text="${voucher.getPointRequired()} + ' points  |  ' + ${voucher.getStock()} + ' vouchers left'"></div>
    <div class="header-stats-item-title" th:text="'Expiration Date: ' + ${voucher.getExpiredDate()}"></div><br>
    <img th:src="@{${voucher.getImgURL()}}" class="catalog-item-logo-big"><br>
    <div class="mypoints-item-title">Description:</div><br>
    <div class="header-stats-item-title" th:text="${voucher.getDescription()}"></div>
    <div class="catalog-item-padding catalog-center">
        <a th:href="@{'/user/catalog/' + ${merchant.getMerchantName()} + '/' + ${voucher.getId()} + '/redeem'}" class="catalog-a">
            <div class="point-scan-button">Redeem Voucher</div>
        </a>
    </div>
</div>
</body>
</html>