<!DOCTYPE html>
<html lang="en" layout:decorate="layout/user-small-top" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title layout:fragment="title">Voucher Redeemed</title>
</head>
<body>
<div class="main-content" style="align-items: stretch !important;" layout:fragment="content">
    <div class="content-title">
        <span>Redeem Catalog</span>
        <div class="content-title-underline"></div>
    </div><br>
    <div class="mypoints-item">
        <div class="mypoints-item-left">
            <div class="mypoints-item-logo-outer">
                <img th:src="@{${merchantVoucher.getMerchant().getProfilePicture()}}" class="mypoints-item-logo">
            </div>
            <div class="mypoints-item-content">
                <div class="mypoints-item-title" th:text="${merchantVoucher.getMerchant().getMerchantName()}"></div>
            </div>
        </div>
        <div class="mypoints-item-right">
            <div class="mypoints-item-big-point" th:text="${points.getPoint()}"></div>
            <div class="mypoints-item-big-point-text">My Points</div>
        </div>
    </div><br>
    <div style="text-align: center;">
        <img th:src="@{${merchantVoucher.getImgURL()}}" class="catalog-item-logo-big"><br>
        <div class="mypoints-item-title" th:text="${merchantVoucher.getVoucherName()}"></div>
        <div class="header-stats-item-title" style="color: #4D9D8D;" th:text="${merchantVoucher.getPointRequired()} + ' points'"></div>
        <div class="header-stats-item-title" th:text="'Expiration Date: ' + ${merchantVoucher.getExpiredDate()}"></div><br>
        <div class="point-scan-success-status">Voucher Redeemed<br>Successfully</div>
    </div>
    <div style="margin: auto;">
        <div class="catalog-center">
            <a th:href="@{'/user/my-voucher/' + ${redeemedVoucher.getId()}}" class="catalog-a">
                <div class="point-scan-button">View My Voucher</div>
            </a>
        </div>
    </div>
    <div class="catalog-center catalog-item-padding">
        <a th:href="@{'/user/catalog/' + ${merchantVoucher.getMerchant().getMerchantName()}}" class="catalog-a">
            <div class="catalog-redeem-another">Redeem Another Voucher</div>
        </a>
    </div>
</div>
</body>
</html>