.inner-content {
    margin: 0 7%;
    width: -webkit-fill-available;
}

.mini-top-title {
    color: var(--green-rewardjar);
    font-weight: 600;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title-container {
    margin: 20px 0px;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.subtitle {
    font-size: 18px;
    font-weight: 500;
}

.role-selector-container {
    display : flex;
    flex-direction: column;
    align-items: center;
}

.role-button {
    width: 80%;
    border-radius: 100px;
    border: 2px solid var(--green-rewardjar);
    color: var(--green-rewardjar);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 20px;
    margin: 12px 20px;
    text-decoration: none;
}

.role-button-main {
    background-color: var(--green-rewardjar);
    color: white;
}

.role-button:hover {
    background-color: var(--green-rewardjar);
    color: white;
}

.role-button i {
    font-size: 20px;
    margin-right: 10px;
}

.form-container {
    margin: 20px 0px;
}

.input-section {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
}

.input-item {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.input-title {
    font-weight: 600;
    color: darkgray;
    font-size: 12px;
}

.input-field {
    border: 0px solid var(--green-rewardjar);
    border-bottom-width: 1px;
    padding: 10px 5px;
}

.submit-button-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.primary-button {
    background-color: var(--green-rewardjar);
    color: white;
    font-weight: 600;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 100px;
    margin: 10px 0px;
    cursor: pointer;
}

.secondary-button {
    background-color: white;
    color: var(--green-rewardjar);
    font-weight: 600;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid var(--green-rewardjar);
    border-radius: 100px;
    margin: 10px 0px;
    cursor: pointer;
}

button {
    padding: 0;
    border: none;
    background: none;
}

.error-message {
    color: red;
    font-weight: 600;
}

.error-message.hide {
    display: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 4px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.registration-complete-message {
    margin: 20px 0px;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
