* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-shadow : 2px 5px 11px 2px rgba(0, 0, 0, 0.25);
    --green-rewardjar : #4D9D8D;
    --gray-rewardjar : #6C6C6C;
  }

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

.bg-gray {
    background-color: var(--gray-rewardjar);
}

.header-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: -10;
}

.header-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.logo {
    align-self: center;
    margin: 15px 0px;
}

.header-area-small .header-image {
    position: relative;
}

.header-area-small .logo {
    position: absolute;
    top:0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.header-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: max(0px, (100% - 321px)/2);
    margin-top: max(0px, 100% * 212/374 - 175px);
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 22px;
    color: white;
}

.header-profile-name {
    margin: 0px;
    align-self: flex-end;
}

.header-profile-picture {
    background-color: #F1F1F1;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.header-stats {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    align-self: center;
    box-shadow: var(--main-shadow);
    margin-bottom: 20px;
}

.header-stats.hide {
    display: none;
}

.header-stats-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 18px;
}

.header-stats-item-icon {
    background-color: rgb(240, 240, 240);
    color: var(--green-rewardjar);
    padding: 5px;
    border-radius: 50px;
    margin: 10px 10px 10px 0px;
}

.header-stats-item-title {
    font-size: 12px;
    color: gray;
    font-weight: 600;
}

.header-stats-item-text {
    font-size: 22px;
    color: var(--green-rewardjar);
    font-weight: 700;
}

.main-content {
    margin: 20px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-title {
    color: var(--green-rewardjar);
    font-weight: 600;
    text-align: center;
    width: max-content;
}

.content-title-underline {
    width: 100%;
    height: 3px;
    background-color: var(--green-rewardjar);
    border-radius: 50px;
    margin: 2px 0px;
}

.bottom-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #f1f1f1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navbar-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: calc(100vw/5 - 20px);
    position: relative;
}

.navbar-item-text {
    margin-top: 5px;
    font-weight: 600;
    font-size: 10px;
    color: gray;
    text-align: center;
    width: max-content;
}

.navbar-item-icon {
    color: gray;
    font-size: 22px
}

.navbar-item-main .navbar-item-icon {
    color: white;
    background-color: var(--green-rewardjar);
    border-radius: 10px;
    font-size: 30px;
    padding: 12px;
    position: absolute;
    bottom: 20px;
}

.navbar-item-main {
    justify-content: flex-end;
}

.merchant-give-points-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.merchant-give-points-output-area {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.merchant-give-points-output-value {
    font-size: 36px;
    font-weight: 700;
}

.merchant-give-points-output-text {
    color : gray;
    font-weight: 600;
    font-size: 11px;
}

.merchant-give-points-numpad {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.merchant-give-points-numpad .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 10px;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

@media (hover: hover) {
    .merchant-give-points-numpad .button:hover {
        background-color: var(--gray-rewardjar);
    }
}

.merchant-give-points-submit {
    all: unset;
    color: white;
    font-weight: 600;
    background-color: var(--green-rewardjar);
    padding: 10px 60px;
    border-radius: 50px;
    width: max-content;
    margin: 30px 0px;
    cursor: pointer;
    text-align:center;
}

.merchant-give-points-qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.merchant-give-points-qr-code-text {
    font-weight: 600;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #4D9D8D;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #4D9D8D transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.qr-code-area {
    display: flex;
    width: 225px;
    height: 225px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.merchant-scan-points-success-icon {
    font-size: 80px;
    color: var(--green-rewardjar);
}

.menu-item-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 25px;
}

.menu-item {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.menu-item .button {
    display: flex;
    align-items: center;
    color: white;
    background-color: var(--green-rewardjar);
    border: 2px solid var(--green-rewardjar);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 30px;
    margin-bottom: 20px;
}

.menu-item .button i {
    font-size: 26px;
    margin-right: 22px;
}

.menu-item .button:hover {
    color: var(--green-rewardjar);
    background-color: white;
}


.primary-button {
    background-color: var(--green-rewardjar);
    color: white;
    font-weight: 600;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 100px;
    margin: 10px 0px;
    cursor: pointer;
}

.primary-button.disabled {
    opacity : 0.6;
    cursor : default;
}

.input-picture-button {
    background-color: var(--green-rewardjar);
    color: white;
    padding: 10px 30px;
    border-radius: 100px;
    margin: 10px 0px;
    cursor: pointer;
    width: max-content;
    font-weight: 600;
}

.secondary-button {
    background-color: white;
    color: var(--green-rewardjar);
    font-weight: 600;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid var(--green-rewardjar);
    border-radius: 100px;
    margin: 10px 0px;
    cursor: pointer;
}

button {
    padding: 0;
    border: none;
    background: none;
}

.inner-content {
    margin: 0 7%;
    width: -webkit-fill-available;
}

.input-item {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.input-title {
    font-weight: 600;
    color: darkgray;
    font-size: 12px;
}

.input-field {
    border: 0px solid var(--green-rewardjar);
    border-bottom-width: 1px;
    padding: 10px 5px;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.subtitle {
    font-size: 18px;
    font-weight: 500;
}

.input-picture {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.update-profile-pictureimg {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}


.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 4px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input-mini-warning {
    font-size: 13px;
    color: red;
    font-weight: 600;
    margin: 10px 0px;
}

.input-mini-warning.hidden {
    display: none;
}

@media only screen and (min-width: 800px) {
    body {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .bottom-navbar {
        width: 350px;
    }
}

.voucher-list-container{
    display: flex;
    flex-direction: column;
}


.voucher-item{
    box-shadow: var(--main-shadow);
    margin: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    width:270px;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}

.voucher-item-left{
    display: flex;
    margin-left:5px;
}

.voucher-item-title{
    font-size: 14px;
    font-weight: 800;
}

.voucher-item-stock , .voucher-item-point{
    font-size: 11px;
}

.voucher-item-logo-outer{
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.voucher-item-logo-outer img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.voucher-item-edit-button{
    align-items: center;
    justify-content: center;
}

.voucher-item-edit-button a{
    text-decoration: none;
    color: rgb(107, 107, 107);
}

.voucher-item-right{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-pencil-alt{
    font-size: 20px;
}

.voucher-item-edit-button-text{
    font-size: 11px;
}

#formCreateVoucher{
    width:100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.input-container{
    align-items: center;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
}

.input-container input{
    width: 100%;

}

.input-container .input-title{
    width: 100%;
    text-align: start;
    font-size: 10px;
    color: rgb(107, 107, 107);
    font-weight: 600;
    margin-bottom: 5px;
}

.input-container .input-label{
    width: 100%;
    text-align: start;
    padding-top: 10px;
}

.input-container input[type=text],.input-container input[type=number], .input-container input[type=date]{
    border: 0px;
    border-bottom: #498a7d solid 2px;
}

label {
    background-color: #4D9D8D;
    color: white;
    padding:7px 30px ;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
  }

label:active{
    background-color: #498a7d;
    color: rgb(223, 223, 223);
}

input[type=submit]{
    text-align:center;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4D9D8D;
    color: white;
    border: 2px solid #4D9D8D;
    font-size: 20px;
    padding: 5px;
    width: 250px;
    border-radius: 25px;
}

input[type=submit]:hover{
    cursor: pointer;
}


input[type=submit]:focus{
    background-color: #498a7d;
    color: whitesmoke;
}

.align-items-inherit {
    align-items: inherit;
}

.mypoints-list-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}