* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-shadow : 2px 5px 11px 2px rgba(0, 0, 0, 0.25);
    --green-rewardjar : #4D9D8D;
  }

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #4D9D8D;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #4D9D8D transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: -10;
}
.header-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.logo {
    align-self: center;
    margin: 15px 0px;
}

.header-area-small .header-image {
    position: relative;
}

.header-area-small .logo {
    position: absolute;
    top:0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.header-name {
    margin: 15px 30px;
    font-weight: 700;
    font-size: 22px;
    color: white;
}

.header-name span {
    margin: 0px;
}

.header-stats {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    align-self: center;
    box-shadow: var(--main-shadow);
    margin-bottom: 20px;
}

.header-stats-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 18px;
}

.header-stats-item-icon {
    background-color: rgb(240, 240, 240);
    color: var(--green-rewardjar);
    padding: 5px;
    border-radius: 50px;
    margin: 10px 10px 10px 0px;
}

.header-stats-item-title {
    font-size: 12px;
    color: gray;
    font-weight: 600;
}

.header-stats-item-text {
    font-size: 22px;
    color: var(--green-rewardjar);
    font-weight: 700;
}

.main-content {
    margin: 20px 0px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-title {
    color: var(--green-rewardjar);
    font-weight: 600;
    text-align: center;
    width: max-content;
    align-self: center;
}

.content-title-underline {
    width: 100%;
    height: 3px;
    background-color: var(--green-rewardjar);
    border-radius: 50px;
    margin: 2px 0px;
}

.mypoints-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mypoints-item {
    box-shadow: var(--main-shadow);
    margin: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}

.mypoints-item-left {
    display: flex;
    flex-direction: row;
}

.mypoints-item-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mypoints-item-big-point {
    color: var(--green-rewardjar);
    font-weight: 700;
    font-size: 24px;
}

.mypoints-item-big-point-text {
    font-size: 11px;
    color: gray;
    font-weight: 600;
    width: max-content;
}

.mypoints-item-logo-outer {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mypoints-item-logo {
    width: 100%;
    height: auto;
}

.mypoints-item-content {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.mypoints-item-title {
    font-weight: 600;
    font-size: 14px;
}

.mypoints-item-subtitle {
    font-size: 11px;
    margin-top: 5px;
}

.bottom-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #f1f1f1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: calc(100vw/5 - 20px);
    position: relative;
}

.navbar-item-text {
    margin-top: 5px;
    font-weight: 600;
    font-size: 10px;
    color: gray;
    text-align: center;
    width: max-content;
}

.navbar-item-icon {
    color: gray;
    font-size: 22px
}

.navbar-item-main .navbar-item-icon {
    color: white;
    background-color: var(--green-rewardjar);
    border-radius: 10px;
    font-size: 30px;
    padding: 12px;
    position: absolute;
    bottom: 20px;
}

.navbar-item-main {
    justify-content: flex-end;
}


.camera-area {
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0px;
    align-self: center;
}

.camera-area video {
    width: 100%;
}

.point-scan-success-merchant-logo-outer {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 20px;
}

.point-scan-success-merchant-logo {
    width: 100%;
    height: auto;
}

.point-scan-success-merchant-name {
    font-weight: 600;
}

.point-scan-success-point-area {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.point-scan-success-point {
    font-size: 32px;
    font-weight: 700;
    color: var(--green-rewardjar);
}

.point-scan-success-point-text {
    color : gray;
    font-weight: 600;
    font-size: 11px;
}

.point-scan-success-status {
    color: var(--green-rewardjar);
    margin: 20px 0px;
    font-weight: 600;
}

.point-scan-button {
    color: white;
    font-weight: 600;
    background-color: var(--green-rewardjar);
    padding: 10px 40px;
    border-radius: 50px;
    width: max-content;
    margin: 30px 0px;
}

.point-scan-result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}

.point-scan-result-container.hide {
    display: none;
}

.camera-area.hide {
    display : none
}

.camera-area video.hide {
    display : none;
}

.camera-area .loading-overlay.hide {
    display: none;
}

.camera-area .loading-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.point-scan-status {
    color: var(--green-rewardjar);
    font-weight: 600;
    font-size: 13px;
}

.catalog-item {
    box-shadow: var(--main-shadow);
    margin: 15px 20px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}

.catalog-item-row {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.catalog-item-row-3 {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 20px;
} .catalog-item-row-3>* {
    flex: 0 0 33.3333%;
    margin-bottom: 20px;
  }

.catalog-item-padding {
    margin-bottom: 15px;
}

.catalog-item-column {
    align-content: space-between;
    flex-direction: column;
}

.catalog-item-logo {
    width: 60px;
    height: 60px;
}

.catalog-item-logo-big {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.catalog-item-logo-small {
    width: 18px;
    height: 18px;
    padding-left: 10px;
    margin-left: 30px;
}

.catalog-a {
    text-decoration: none;
    color: inherit;
}

.catalog-center {
    margin-right: auto;
    margin-left: auto;
}

.catalog-item-subtitle {
    font-size: 11px;
    margin-top: 5px;
    font-weight: bold;
}

.catalog-item-subtitle-green {
    font-size: 11px;
    margin-top: 5px;
    font-weight: bold;
    color: #4D9D8D;
    text-align: center;
}

.catalog-item-title {
    font-weight: 600;
    font-size: 18px;
}

.catalog-redeem-another {
    color: #4D9D8D;
    border: 2px solid #4D9D8D;
    font-weight: 600;
    background-color: white;
    padding: 10px 40px;
    border-radius: 50px;
    width: max-content;
    margin-top: 0;
    margin-bottom: 30px;
}

.scan-result-status-icon {
    color: var(--green-rewardjar);
    font-size: 108px;
}

.catalog-item {
    box-shadow: var(--main-shadow);
    margin: 15px 20px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}

.catalog-item-row {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.catalog-item-column {
    align-content: space-between;
    flex-direction: column;
}

.catalog-item-logo {
    width: 60px;
}

.catalog-item-subtitle {
    font-size: 11px;
    margin-top: 5px;
    font-weight: bold;
}

.catalog-item-subtitle-green {
    font-size: 11px;
    margin-top: 5px;
    font-weight: bold;
    color: #4D9D8D;
    text-align: center;
}

.primary-button {
    background-color: var(--green-rewardjar);
    color: white;
    font-weight: 600;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 100px;
    margin: 10px 0px;
    cursor: pointer;
}

.primary-button.disabled {
    opacity : 0.6;
    cursor : default;
}


.input-picture-button {
    background-color: var(--green-rewardjar);
    color: white;
    padding: 10px 30px;
    border-radius: 100px;
    margin: 10px 0px;
    cursor: pointer;
    width: max-content;
    font-weight: 600;
}

.secondary-button {
    background-color: white;
    color: var(--green-rewardjar);
    font-weight: 600;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid var(--green-rewardjar);
    border-radius: 100px;
    margin: 10px 0px;
    cursor: pointer;
}

button {
    padding: 0;
    border: none;
    background: none;
}

.inner-content {
    margin: 0 7%;
    width: -webkit-fill-available;
}

.input-item {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.input-title {
    font-weight: 600;
    color: darkgray;
    font-size: 12px;
}

.input-field {
    border: 0px solid var(--green-rewardjar);
    border-bottom-width: 1px;
    padding: 10px 5px;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.subtitle {
    font-size: 18px;
    font-weight: 500;
}

.input-picture {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.update-profile-pictureimg {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}


.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 4px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input-mini-warning {
    font-size: 13px;
    color: red;
    font-weight: 600;
    margin: 10px 0px;
}

.input-mini-warning.hidden {
    display: none;
}

.align-items-inherit {
    align-items: inherit;
}

@media only screen and (min-width: 800px) {
    body {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .bottom-navbar {
        width: 350px;
    }
}