<!DOCTYPE html>
<html lang="en" layout:decorate="layout/merchant-template" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <script src="/js/merchant/scan-points.js"></script>
    <title layout:fragment="title">Scan Points</title>
</head>
<body>
<div class="header-stats hide" layout:fragment="header-stats"></div>
<div class="main-content" layout:fragment="content">
    <div class="content-title">
      <span>Give Points</span>
    </div>
    <div class="merchant-give-points-container">
        <div class="merchant-give-points-output-area">
            <div class="merchant-give-points-output-value" th:text="${pointsGiven}"></div>
            <div class="merchant-give-points-output-text">points</div>
        </div>
        <div class="merchant-give-points-qr-code">
            <div class="qr-code-area">
                <div class="loading-overlay">
                    <div class="lds-ring"><div></div><div></div><div></div></div>
                </div>
            </div>
            <input id="hidden-qr-code" type="text" th:value="${qrCode}" hidden>
            <div class="merchant-give-points-qr-code-text">Show this QR Code</div>
        </div>
        <a class="merchant-give-points-submit"href="/merchant/">Back To Home</a>
    </div>
</div>
</body>
</html>