<!DOCTYPE html>
<html lang="en" layout:decorate="layout/merchant-template" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title layout:fragment="title">Voucher List</title>
</head>
<body>
<div class="header-stats hide" layout:fragment="header-stats"></div>
<div class="main-content" layout:fragment="content">
    <div class="content-title">
        <span>Voucher List</span>
    </div>

    <div class="menu-item-container">
        <a class="menu-item" href="/merchant/create-voucher">
            <div class="button">Add New Voucher</div>
        </a>
    </div>

    <div class="mypoints-list-container">
        <div class="voucher-item" th:each="voucher:${voucherList}">
            <div class="voucher-item-left">
                <div class="voucher-item-logo-outer">
                    <img th:src="${voucher.imgURL}" class="voucher-item-logo">
                </div>
                <div class="voucher-item-content">
                    <div class="voucher-item-title" th:text="${voucher.voucherName}"></div>
                    <div class="voucher-item-point" th:text="${voucher.pointRequired} + ' points'"></div>
                    <div class="voucher-item-stock" th:text="'Voucher Available:' + ${voucher.stock}"></div>
                </div>
            </div>
            <div class="voucher-item-right">
                <div class="voucher-item-edit-button">
                    <a th:href="@{'/merchant/update-voucher/'+ ${voucher.getId()}}">
                        <i class="fas fa-pencil-alt"></i>
                        <div class="voucher-item-edit-button-text">Edit</div>
                    </a>
                </div>
            </div>
        </div>
    </div>





</div>
</body>
</html>