<!DOCTYPE html>
<html lang="en" layout:decorate="layout/merchant-template" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<div class="header-stats" layout:fragment="header-stats">
    <div class="header-stats-item">
        <div class="header-stats-item-data">
            <div class="header-stats-item-title">Points Shared</div>
            <div class="header-stats-item-text" th:text="${#numbers.formatInteger(pointsShared,1,'POINT')}"></div>
        </div>
    </div>
    <div class="header-stats-item">
        <div class="header-stats-item-data">
            <div class="header-stats-item-title">Voucher Redeemed</div>
            <div class="header-stats-item-text" th:text="${voucherShared}">0</div>
        </div>
    </div>
</div>
<div class="main-content" layout:fragment="content">
    <div class="menu-item-container">
        <a class="menu-item" href="/merchant/give-points">
            <div class="button"><i class="fas fa-hand-holding-heart"></i>Give Points</div>
        </a>
        <a class="menu-item" href="/merchant/list-voucher">
            <div class="button"><i class="fas fa-th-list"></i>Voucher List</div>
        </a>
    </div>
</div>
<div class="bottom-navbar">
    <div class="navbar-item">
        <div class="navbar-item-icon"><i class="fas fa-home"></i></div>
        <div class="navbar-item-text">Home</div>
    </div>
    <div class="navbar-item">
        <div class="navbar-item-icon"><i class="fas fa-list"></i></div>
        <div class="navbar-item-text">Voucher List</div>
    </div>
    <div class="navbar-item navbar-item-main">
        <div class="navbar-item-icon"><i class="fas fa-hand-holding-heart"></i></div>
        <div class="navbar-item-text">Give Points</div>
    </div>
    <div class="navbar-item">
        <div class="navbar-item-icon"><i class="fas fa-ticket-alt"></i></div>
        <div class="navbar-item-text">Redeem</div>
    </div>
    <div class="navbar-item">
        <div class="navbar-item-icon"><i class="fas fa-user"></i></div>
        <div class="navbar-item-text">Profile</div>
    </div>
</div>
</body>
</html>